body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #FFF;
}

.container {
    margin: 0 auto;
    padding: 0 15px; 
    max-width: 1180px;
}

.hero {
    margin-top: 130px;
}

.hero__image {
    position: relative;
    box-sizing: border-box;
    margin-top: 30px;
    height: 500px;
    width: 1180px;
    background-image: url(../resources/foto-1.png);
    background-repeat: no-repeat;

}

.hero__image-text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: white;

}

h1 {
    width: 956px;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    color: #121212;
    letter-spacing: -1.8px;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #121212;
}

h3 {
    font-size: 30px;
    line-height: 40.98px;
    color: #121212;
    letter-spacing: -0.9px;
}

.about__info {
    margin-top: 30px;
    width: 1048px;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.35px;
    color: #121212;
}

.about__btn {
    margin-top: 30px;
    display: inline-block;
    padding: 20px 40px 20px 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    background: #AD1818;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    outline: none;
}

.projects {
    margin-top: 30px;
}

.projects .project {
    margin-top: 90px;
}

.projects :first-child {
    margin-top: 0px;
}

.project__image {
    margin-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
}

.project__link {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #AD1818;
    text-decoration: none;
}

.project__button {
    margin-top: 90px;
    margin-bottom: 150px;
    display: block;
    width: 1150px !important;
    height: 153px;
    line-height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #AD1818;
    font-size: 30px;
    letter-spacing: -0.9px;
}

.project__button:hover {
    background-color: #AD1818;
    color: #FFF;
}

.background__box {
    background-color: black;
    width: 100%;
    height: 1844px;
}

.background__box-title {
    padding-top: 150px;
    padding-left: 127px;
    margin: auto;
    color: #FFF
}

.services {
    margin-top: 34px;
}

.services .service {
    margin-top: 60px;
}

.service__item {
    color: #FFF;
    padding-left: 128px;
}

.service__image {
    margin-bottom: 15px;
    margin-left: 125px;
}

.final__image {
    position: relative;
    box-sizing: border-box;
    width: 1400px;
    height: 717px;
    background-image: url(../resources/forestfoto.png);
    background-repeat: no-repeat;
}

.final__image-text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -0.9px;
    color: #FFF;
}
